.icon-div {
    display: flex;
}

.custom-input {
    width: 90%;
    padding: 15px;
    margin-bottom: 5%;
}

img {
    width: 30px;
    height: 30px;
}

.icon-span {
    cursor: pointer;
    height: 9px;
    margin-top: 78px;
    margin-left: -47px;
}
